.container {
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 55vh;
}

p {
    margin-bottom: 0;
}

button {
    margin-top: 2rem;
    background-color: blue;
    border: none;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 1em;
    cursor: pointer;
}