<h1 class="title">Datos báscisos de un continente</h1>

<div class="container center" *ngIf="regionData$ | async as regionsData">
    <section class="region">
        <h1 i18n>Region</h1>
        <p><span i18n>id:</span>{{ regionsData[0]?.region?.id }}</p>
        <p><span i18n>iso2Code:</span> {{ regionsData[0]?.region?.iso2code }}</p>
        <p><span i18n>Nombre:</span> {{ regionsData[0]?.region?.value }}</p>
    </section>
    <div class="countries">
        <jg-ui-box (clickBox)="goToRegion($event)" [isDescription]="true" [region]="region" *ngFor="let region of regionsData"></jg-ui-box>
    </div>
</div>